<h1><%= @woman.name %></h1>
<div>
    Age: <%= @woman.age %>
</div>
<div>
    Hometown: <%= @woman.hometown %>
</div>
<!-- <h2>Relationships</h2>
<% @woman.relationships.each do |rel| %>
    <div>
        <%= @woman.name %>
        <%= link_to "Partner: #{rel.man_id}; Status: #{rel.status}", relationship_path(rel) %>
    </div>
<% end %> -->